page-defi {

  .customForm {
    background-color: #052942;
    color: white;
  }

  .customButton {
    background-color: yellow;
    color: white;
  }

  .customIcon {
    color: #e53357;
    font-size: 48px;
  }

  .customField {
    background-color: #052942;
    color: #fecd1a;
  }


}
