page-filter {

  .customFormFiltre {
    background-color: #052942;
    color: white;
  }

  .customButton {
    background-color: yellow;
    color: white;
  }

  .customIcon {
    color: #e53357;
    font-size: 48px;
    background-color: #052942;
  }

  .customField {
    background-color: #052942;
    color: #fecd1a;
    border: 1px solid white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }


}
