page-about {

  .customFormFiltre {
    background: url("../assets/imgs/tuiles.jpg") no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  .customIcon {
    color: #e53357;
    font-size: 48px;
  }

  .customField {
    background-color: #052942;
    color: #fecd1a;
  }

  .titleLinkMe {
    margin-top:450px;
    color: #052942;
    font-size:21px;
    font-weight: bold;
    background-color: none;
  }

  .titleLink {
    color: #052942;
    font-size:21px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-bottom:10px;
  }


}
