page-myprofil {
  .customMyProfil {
    background: url("../assets/imgs/profil.jpg") no-repeat center fixed;
    background-color: none;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }
  .scroll-content{
    overflow-y: hidden;
  }

}
