page-favorite {
  .slide3 {
    background: url("../assets/imgs/slide1v2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  .slide4 {
    background: url("../assets/imgs/slide2v2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  .boutonnvide {
    width:80px;
    height:20px;
    background-color: transparent;
    color: transparent;
  }

  .linkfulldisplay {
    width:200px;
    height:200px;
    margin-top:50px;
    background-color: transparent;
    color: transparent;
  }
}
