page-defi {

  .customForm {
    background: url("../assets/imgs/defiFull.jpg") no-repeat center fixed;
    background-color: #052942;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    color: white;
  }

  .customButton {
    background-color: yellow;
    color: white;
  }

  .customIcon {
    color: #e53357;
    font-size: 48px;
  }

  .customField {
    background-color: #052942;
    color: #fecd1a;
  }
  
  .boutonnvide {
    width:80px;
    height:20px;
    background-color: red;
    color: transparent;
  }

}
