page-home {

  .slide1 {
    background-color: #052942 ;
  }

  .slide2 {
    background: url("../assets/imgs/home1.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }


}
