page-connexion {

  .customFormFiltre {
    background-color: #052942;
    color: white;
  }

  .scroll-content{
    overflow-y: hidden;
  }

  .customButton {
    background-color: yellow;
    color: white;
  }

  .customIcon {
    color: #e53357;
    font-size: 48px;
  }

  .customField {
    background-color: #052942;
    color: #fecd1a;
  }


}
