page-createdefi {

  .customFormFiltre {
    background-color: #F2F1EF;
    color: #052942;
  }
  .title {
    font-size: 26px;
    font-weight: bold;
    color: #052942;
    margin-bottom: 10px;
  }
  .customButton {
    background-color: yellow;
    color: white;
  }

  .customIcon {
    color: #e53357;
    font-size: 48px;
  }

  .customField {
    width:320px;
    background-color: #FFFFFF;
    color: #052942;
    border: 1px solid white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  .margin0 {
    margin:0px;
  }

}
